@charset "utf-8";
/* CSS Document */
/* b3duZXJzOnNheXUgYW5kIHByYW11ZGl0aGEg */
.table{
	 padding-left: 200px;
	 text-align: center;
	  color: white; 
	  font-family: verdana;
	  }
.t2{
	 padding-top: 150px;
		
   }
		
	
